.image-carousel {
  width: 100%;
  max-width: 350px;   /* mismo ancho que el ImagePair */
  margin: auto;
  position: relative; /* necesario para que los bullets se ubiquen dentro */
}

/* Flechas de navegación */
.swiper-button-next,
.swiper-button-prev {
  color: #282828;
  width: 25px;
  height: 25px;
  top: 50%;              /* centradas verticalmente */
  transform: translateY(-50%);
  z-index: 20;           /* encima de la imagen */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  width: 20px;
}

/* Paginación (bullets) en la parte inferior */
.image-carousel .swiper-pagination {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.image-carousel .swiper-pagination-bullet {
  background: #ffffff;
  opacity: 1;
  width: 10px;
  height: 10px;
  transition: all 0.3s ease;
  border-radius: 50%;
}

.image-carousel .swiper-pagination-bullet-active {
  background: #282828;
  opacity: 1;
  transform: scale(0.8);
}

/* =========== */
/* Responsive
/* =========== */

/* Celulares (≤ 768px) */
@media (max-width: 768px) {
  .image-carousel {
    max-width: 250px; /* ocupa casi todo el ancho */
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 18px;
    height: 18px;
    padding: 0px 50px;
  }
}

/* Tablets (≤ 1024px) */
@media (max-width: 1024px) {
  .image-carousel {
    max-width: 500px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 18px;
  }

  .image-carousel .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
  }
}