/* ============================= */
/* Estilos Generales del Home    */
/* ============================= */
main {
  font-family: Arial, sans-serif;
  padding: 2rem;
  text-align: center;
  background-color: #dfdfdf;
}

h2 {
  font-size: 1.5rem;
  margin-top: 80px;
  margin-bottom: 30px;
}

/* Contenedor general de las imágenes */
.body-content.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  margin-bottom: 300px;
  flex-wrap: wrap;
}

/* Cada bloque de imagen */
.image-container {
  position: relative;
  width: 300px;
  height: auto;
  overflow: hidden;
  flex-shrink: 0;
}

/* Link dentro de cada imagen */
.image-container .category-link {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  padding: 5px 10px;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 5px;
  z-index: 2;
  transition: all 0.3s ease;
}

.image-container .category-link:hover { 
  font-size: 2.5rem;
  color: #363636;
}

/* Imagen principal */
.image1 img {
  width: 100%;
  display: block;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out;
}

/* Imagen secundaria (hover) */
.image2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image2 img {
  width: 100%;
  display: block;
  border-radius: 5px;
}

.image-container:hover .image2 {
  opacity: 1;
}

/* Imagen background */
.fondos {
    width: 100%;
}

.fondo img {
    width: 100%;
    margin: 0;
}

/* Sección Nosotros */
.nosotros{
  padding: 150px 150px;
}

.nosotros-txt h2 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.nosotros-txt p, span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
}

/* Button */
.nosotros .form-button {
  width: 10%;
  background-color: #007BFF;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.form-button:hover {
  background-color: #0056b3;
}