/*Estilos del encabezado*/
header {
    border-bottom: 1px solid #dbd8d8;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    padding: 10px;
}

header .menu-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo img {
    height: 70px;
    margin: 0;
    position: relative;
    margin-left: -15px;
    transition: transform 0.1s;
}

header .logo img:hover {
    transform: scale(1.09); 
}

header .menu-icono {
    display: none;
}

header nav ul {
    display: flex;
    list-style: none;
    margin-left: 50px;
}

header nav ul li {
    margin: 0 12px;
}

header nav ul li a {
    display: flex;
    color: #727272;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    color: #000000;
}

header nav ul li a img {
    height: 20px;
}

#menu {
    display: none;
}