/* ============================ */
/* Estilos Generales del Home   */
/* ============================ */
* {
  margin: 0;
  padding: 0;
}

main {
  font-family: Arial, sans-serif;
  padding: 0.1rem;
  text-align: center;
  background: #ffffff;
  background-size: 100%;
  background-position: center;
}

/* Contenedor general */
.body-content.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 5rem 0px 5rem;
}

/* Estilo del título */
.body-content.container h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  color: #000000;
  margin-bottom: 2rem;
  text-align: center;
}

/* Contenedor de imágenes en fila */
.images-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
  flex-wrap: wrap;
}

.product-info p {
  white-space: pre-line;
}

/* Sección Nosotros */
.nosotros {
  color: #000000;
  padding: 150px 150px;
}

.nosotros .nosotros-txt h2 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.nosotros-txt p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.form-button {
  max-width: 120px;
}

/* =========== */
/* Responsive  */
/* =========== */

/* Tablets (≤ 1024px) */
@media (max-width: 1024px) {
  .body-content.container {
    gap: 30px;
    margin-bottom: 200px;
  }

  .body-content.container h2 {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
}

/* Celulares (≤ 768px) */
@media (max-width: 768px) {
  .body-content.container {
    gap: 40px;
    margin-bottom: 150px;
  }

  .body-content.container h2 {
    font-size: 1.1rem;
    margin-bottom: 15px;
  }

  .nosotros {
    padding: 10px 10px;
  }

  .form-button {
    max-width: 100px;
  }
}

/* Celulares pequeños (≤ 480px) */
@media (max-width: 480px) {
  .body-content.container {
    gap: 25px;
    margin-bottom: 100px;
    padding: 0 10px;
  }

  h2 {
    font-size: 1rem;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .nosotros {
    padding: 0px 0px;
  }

  .form-button {
    width: 90px;
    font-size: 0.9rem;
  }
}