/* ============================== */
/* Estilos Generales del SideBar  */
/* ============================== */
/* Overlay que bloquea interacción */
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  z-index: 9998;
  pointer-events: all;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background: #222222;
  transition: right 0.3s ease;
  z-index: 9999;

  display: flex; 
  flex-direction: column;
  box-sizing: border-box; 
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 1 1 auto;
  overflow-y: auto;
  color: #d8d8d8;
}

.sidebar.open {
  right: 0; /* Se despliega desde la derecha */
  transform: translateX(0);  /* Se desliza */
  opacity: 1;
  visibility: visible;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: left;
  text-decoration: none;
  color: inherit; 
  padding: 20px 12px;
  cursor: pointer;
  position: relative; /* importante para que el ::after se posicione dentro */
}

.sidebar ul li a:hover {
  background-color: transparent;
}

.sidebar ul li a:hover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;              /* línea al borde derecho */
  width: 3px;            /* grosor de la línea */
  height: 100%;          /* que cubra todo el alto del enlace */
  background-color: #949494; /* color de la línea */
  border-radius: 2px;    /* opcional, esquinas suaves */
}

.sidebar .avatar {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin: 0;
}

.sidebar .icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin: 0; 
}

.close-btn {
  text-align: start;
  background: none;
  color: #ffffff;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.side-button {
  max-width: 100%;
}

/* Checkbox para menú responsive */
#menu {
  display: none;
}

.modal-actions {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

.modal-actions .form-button.confirm-btn,
.form-button.cancel-btn {
  background-color: #b6b6b6;
  color: #000000;
  transition: background 0.2s;
}

.modal-actions .form-button.confirm-btn:hover,
.form-button.cancel-btn:hover { 
  background-color: #9c9c9c;
}