/* ============================== */
/* Estilos Generales del Register */
/* ============================== */
/* h2 */
#register h2{
  font-size: 15px;
  color: #bebebe;
  text-align: left;
  margin: 0;
  padding: 10px;
  margin-left: -8px;
}

/* Link de registro */
.register a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.register a:hover {
  color: #0056b3;
}

.button {
  font-size: 12px;
  background-color: #b6b6b6;
  color: #000000;
  transition: background 0.2s;
}

.button:hover {
  background-color: #9c9c9c;
}

.register p {
  font-size: 14px;
  text-decoration: underline;
}

.register p:hover {
  cursor: pointer;
  color: #3d3d3d;
}

.register span {
  color: #000000;
  font-size: 15px;
  text-decoration: underline;
}

.register span:hover {
  color: #3d3d3d;
}